@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html{
  margin:0;
  padding:0;
}

* { 
  font-family: 'Ubuntu', sans-serif;
}

.App {
  width: 100%;
  height: 100%;
  background-color: #21242b;
}

/*Landing Page*/

.landing-bg{
  width: 100%;
  height:100vh;
  background-image: url('https://images.unsplash.com/photo-1637963953070-e0f3d08da3c1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
}

.landing-words{
  color:#ffffff;
  font-size: 2rem;
}

.landing-container{
  margin-left:50%;
  padding-top: 10%;
}

.landing-btn{
  padding:1% 5% 1% 5%;
  border-radius: 1rem;
  border: none;
  margin-top: 10%;
  transition: 0.3s;
}

.landing-btn:hover{
  background-color: #282c34;
  color: #7a748c;
}
.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 10px); }
  100%   { transform: translate(0, -0px); }   
}

/*Navbar*/
.nav-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 1rem;
  background-color: #c6bbb9;
}

.left-h1{
  padding-top: 0.5rem;
}

.link{
  padding:1rem;
  color:#7a748c;
}

.link:hover{
  color: #ffffff;
}

.left-h1{
  color: #7a748c;
}

.download{
  border: 0.1rem solid #7a748c;
  border-radius: 20rem;
  padding:0.5rem;

}

.download:hover{
  border: 0.1rem solid #ffffff;
}

.hamburger{
  display: none;
}

/*Project*/
.project-wrap{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.project-h1{
  color: #ffffff;
  text-align: center;
  padding: 2rem 0 0 0;
}

.project-card{
  background-color:  white;
  border-radius: 5rem;
  width: 32%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:1rem 0 1rem 0;
}


.ant-image{
  width:20rem;
  margin-top: 2rem;
}

.project-info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;
}

.project-btn{
  margin:0 0 0 1rem;
}

.ant-btn{
  background-color: #282c34 !important;
  border:none !important;
  color: #ffffff !important;
}

/*About*/

.about-container, .about-h3, .about-h2, .about-h1, .special-h3{
  color:#ffffff;
  text-align: center;
}

.about-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem 10rem 0 10rem;
}

.about-intro{
  padding-bottom: 5rem;
}

.about-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.about-learn{
  padding-top: 1rem;
}

.special{
  margin-top: 10rem;
  padding-bottom: 2rem;
}
/*Contact*/
.contact-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

.contact-h1, .contact-a, .contact-p{
  color: #ffffff !important;
}

.contact-extra{
  margin-top:10rem;
}

/*Responsive*/
@media screen and (max-width:1300px){
  .ant-image{
    width:15rem
  }
  .project-card{
    height: 65vh;
  }
  .project-info{
    margin-top: 2rem;
  }
}

@media screen and (max-width:900px) {
  .project-card{
    width: 20rem;
    height: 60vh;
  }
  .nav-menu{
    display:none;
    width: 100%;
    height:15rem;
    position: absolute;
    top:4rem;
    background-color: #c6bbb9;
    z-index: 1;
  }
  .nav-menu.active{
    display:flex;
    flex-direction: column;
    left: 0;
  }
  .hamburger{
    display: block;
  }
}

@media screen and (max-width:700px){
  .project-card{
    height: 60vh;
  }
}

@media screen and (max-width:400px){
  .project-card{
    width: 18rem;
    height: 70vh;
  }
}